# Compiled Object files
*.slo
*.lo
*.o

# Object definition files
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*_ACLiC_dict_rdict.pcm

# Python
__init__.py
*.pyc

# Misc. Other
*~
*.log
*.tgz
*.pyc
.emacs*